#
# SENSITIVE FILES
#
key.properties
**/*.keystore
**/*.jks

#
# EDITOR JUNK
#

# (ANDROID STUDIO)
/android/app/debug
/android/app/profile
/android/app/release

#
# BUILD JUNK
#

# (FLUTTER)
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
app.*.symbols
app.*.map.json

# (JAVA)
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java